.evo {
  margin-bottom: 100px;
  font-size: 14px;

  @include small-tablet {
    margin-bottom: 50px;
  }

  &__descr-list {
    display: flex;
    justify-content: center;
    gap: 0 65px;

    dd {
      text-transform: uppercase;

    }
    @include s-tablet {
      display: block;
      text-align: center;

      div {
        margin-bottom: 15px;
      }
    }

  }

}
.evo-black {
  background-color: #363636;
  padding: 100px 0 50px;
  color: #fff;

  &__inner {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../img/dec-1.svg);
      width: 185px;
      height: 213px;
      left: -130px;
      top: 210px;
    }
    &::after {
      content: '';
      position: absolute;
      background-image: url(../img/dec-2.svg);
      width: 498px;
      height: 572px;
      left: -40px;
      top: 290px;

      @include s-tablet {
        display: none;
      }


    }

  }
  &__info {
    display: flex;
    justify-content: space-between;

    @include s-tablet {
      display: block;
    }
  }
  &__infobox {
    flex-basis: 437px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 300;
    padding-right: 50px;

    @include s-tablet {
     margin-bottom: 20px;
    }

  }
  &__text {
    font-size: 14px;

    margin-bottom: 30px;
  }
  &__img {
    position: relative;
    z-index: 1;
    display: block;
    margin: 170px auto 60px;

    @include small-tablet {
      margin-top: 130px;
    }
  }
}
.evo-white {

  &__inner {
    position: relative;
    padding-top: 125px;

    @include small-tablet {
      padding-top: 75px;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url(../img/dec-3.png);
      width: 274px;
      height: 257px;
      left: 360px;
      top: -40px;

      @include s-tablet {
        display: none;
      }
    }
    &::after {
      content: '';
      position: absolute;
      background-image: url(../img/dec-4.png);
      width: 324px;
      height: 311px;
      left: 600px;
      top: 115px;

      @include d-tablet {
        display: none;
      }
    }

  }
  &__text {
    margin-bottom: 30px;

    &:first-child {
      max-width: 285px;
    }

    &:nth-child(2) {
      max-width: 435px;
    }
    &:nth-child(3) {
      max-width: 590px;

    }

  }
  &__video {
    margin-top: 100px;
    height: 265px;
    background-image: url(../img/evo-video.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-link {
      span {
        display: block;
        color: #fff;
      }
    }

    @include small-tablet {
      margin-top: 50px;
    }
  }

}

