.info {
  margin-bottom: 10px;
}
.info__part {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.info__part--first {
  display: block;
}
.info__part--third {
  padding-top: 66px;
}
.info__title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
}
.info__part-textbox {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}
.info__text {
  flex-basis: 440px;
  margin-bottom: 30px;
}
.info__part-img {
  object-fit: cover;
}
.info__content {
  flex-basis: 415px;
}
.info__part--second .info__text {
  max-width: 352px;
}
.info__part--third .info__text {
  max-width: 377px;
}
.info__table {
  position: relative;
  flex-basis: 450px;
  border-bottom: 1px solid #040404;
  top: 20px;

  td {
    padding-bottom: 20px;
  }

}
.info__table::before {
  content: "";
  border-top: 1px solid #000;
  position: absolute;
  width: 100%;
  top: -20px;
}
