.promo {
  background-image: url(../img/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include small-desk {
    background-position: left center;

  }

}
.promo__inner {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
.title {
  margin: 0;
  margin-bottom: 10px;
  font-family: var(--font-family-impact);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 76px;

  @include small-desk {
    font-size: 64px;
  }
  @include mobile {
    font-size: 48px;
  }
  @include m-mobile {
    font-size: 42px;
  }
}
.subtitle {
  margin: 0;
  margin-bottom: 10px;
  align-self: center;
  font-family: var(--font-family-impact);
  font-weight: 400;
  font-size: 48px;
  border-bottom: 1px solid #040404;

  @include small-desk {
    font-size: 42px;
  }
  @include mobile {
    font-size: 34px;
  }
  @include m-mobile {
    font-size: 30px;
  }

  span {
    margin: 0;
    display: block;
    padding: 10px 0;
    color: #9F6B08;
    font-size: 34px;

    @include small-desk {
      font-size: 32px;
    }
    @include mobile {
      font-size: 26px;
    }

  }
}

.promo__text {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #363636;
}
.promo__arrow {
  margin-top: auto;
  margin-bottom: 30px;
  align-self: center;
}
