.track {

  background-image: url(../img/track-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.track__title {
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 32px;
}
.track__text {
  max-width: 435px;


}
.track__img {
  margin: auto auto 90px auto;


}
.track__inner {
  display: flex;
  flex-direction: column;
  //padding-bottom: 90px;
  min-height: 100vh;


}
