<footer class="footer">
  <div class="container">
    <h3 class="footer__title">Контакты</h3>
    <div class="footer__top">

<ul class="footer__info list-reset">
<li class="footer__info-item">
  <dl>
    <dt>ОБЩИЕ</dt>
    <dd><a href="+(351)282405600">+(351) 282 405 600</a></dd>
    <dd><a href="+(351)282405697">+(351) 282 405 697</a></dd>
    <dd><a href="mailto:info@autodromodoalgarve.com">info@autodromodoalgarve.com</a></dd>
  </dl>
</li>
<li class="footer__info-item">
  <dl>
    <dt>БИЛЕТЫ</dt>

    <dd><a href="+(351)282405600">+(351) 282 405 600</a></dd>
    <dd><a href="mailto:info@autodromodoalgarve.com">tickets@autodromodoalgarve.com</a></dd>
  </dl>
</li>
<li class="footer__info-item">
  <ul class="social-list list-reset">
    <li class="social-list__item">
      <a href="" class="social-list__link"></a>
      <img src="img/youtube.svg" alt="" class="social-list__icon">
    </li>
    <li class="social-list__item">
      <a href="" class="social-list__link"></a>
      <img src="img/facebook.svg" alt="" class="social-list__icon">
    </li>
    <li class="social-list__item">
      <a href="" class="social-list__link"></a>
      <img src="img/instagram.svg" alt="" class="social-list__icon">
    </li>

  </ul>
</li>
</ul>
<div class="footer__address">
  <p class="footer__address-title">АДРЕС</p>
  <address class="footer-address-text">
    Sitio do Escampadinho, Mexilhoeira Grande, 8500-148 Portimao, Portugal
  </address>
  <div id="map"></div>
</div>
    </div>
    <div class="footer__bottom">
<a href="#" class="footer__bottom-link">Design by Varvara Prokopchuk</a>
<a href="#" class="footer__logo">
  <img src="img/logo-footer.svg" alt="" class="footer__logo-img">
</a>
<a href="#" class="footer__bottom-link">Политика конфиденциальности </a>
    </div>
  </div>
</footer>

