// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/promo";
@import "./components/info";
@import "./components/track";

// тестовые стили, удалите их
